<div class="web-pages-container">
  <div class="demo-note">
    <p class="note-header">¿Necesitas un sistema para dispositivos móviles?</p>
    <p class="note-text">Podemos desarrollar una solución adaptada a tu negocio.</p>
  </div>
  <div class="pages-grid">

    <a *ngFor="let system of posSystems" class="page-card" [href]="system.link" target="_blank"
      rel="noopener noreferrer">
      <div class="card-image-container">
        <img [src]="system.image" [alt]="system.title" class="card-image">
      </div>

      <h3 class="card-title">{{ system.title }}</h3>
    </a>

  </div>
  <app-social-fab></app-social-fab>
</div>